.new{
	font-size: 24px;background:#CCCCFF;text-align: center;
      }
      
h1{
	text-shadow: rgba(33,125,125,0.3) 20px 10px 1px;
	}
span{
	font-size: 35px;
	color:red;
	}
.sheti{
	font-style: italic;
}
 p{
 	text-indent: 2em;
 	line-height: 12px;
 	font-size: 24px;
 	font-weight: bold;
 	font-family:"arial narrow";
 }
 section{
 	background-image: url(背景三.jpg );
 }
 div{
	font-size: 24px;
	background:#CCCCFF;
      }
