*{
	text-decoration: none;
	list-style: none;
	/*margin: 0px;
	padding: 0px;*/
}

.header{
	z-index: 0;
	width: 100%;
	height: 667px;
	/*border:1px solid red ;*/
	background: url(haiwai_image/header-banner-new.png) no-repeat;
	/*设置固定的背景定位*/
	background-attachment:fixed;
	background-position: center 0px;
	background-size: 100% 567px;
	/*块状元素会单独占据一样，其他元素跟他在同一行的会被迫换行*/
	display: block;
	background-color: #333;
}
.site-header{
	width: 100%;
	height: 57px;
	/*border:1px solid red ;*/
}
.ul1{
	width: 90%;
	height: 56px;
	/*border:1px solid red ;*/
	margin:0px auto;
	background-color: #333333;
}
.flv-nav{
	width: 700px;
	height: 46px;
/*	border:1px solid red ;*/
	float: left;
}
.flv-nav ul li{
	font-size: 14px;
}
.flv-nav ul li a{
	z-index: 1;
	color: white;
	float: left;
	margin-left: 20px;
}
.f1{
	width: 200px;
	height: 46px;
/*	border:1px solid red ;*/
	float: right;
}
.f2{
	width: 180px;
	height: 45px;
/*	border:1px solid red ;*/
	margin: 0px auto;
}
.f2 span a{
	color:white ;
	margin-left:22px ;
	position: relative;
	top:10px;
	font-size: 12px;
}
.site-header2{
	width: 100%;
	height: 197px;
	z-index: 1;
	/*防止父级边框塌陷 不加overflow: hidden父级边框会塌陷 因子级向左浮动了;*/
	overflow: hidden;
	/*border:1px solid red ;*/
}
.site-logo{
	width: 160px;
	height: 87px;
	/*border:1px solid red ;*/
	float: left;
	margin-left: 35px;
	margin-top: 40px;
}
.site-logo img{
	padding-top: 10px;
}
.ul2{
	z-index:2;
	width: 760px;
	height: 157px;
	/*防止父级边框塌陷 不加overflow: hidden父级边框会塌陷 因子级向左浮动了;*/
	overflow: hidden;
	/*border:1px solid red ;*/
	margin-left: 200px;
	/*position: relative;
	top: 4opx;*/
	margin-top: 40px;
}

.ul2 ul li a{
	color: white;
	float: left;
	margin-left: 20px;
}
.so-text{
	z-index: 1;
	width: 100%;
	height: 207px;
	/*border:1px solid red ;*/
}
.text{
	text-align: center;
}
.text h1{
	font-size: 26px;
	color: white;
}
.text h2{
 	width: 100%;
 	height: 60px;
	/*border:1px solid red ;*/
	position: relative;
	top: -20px;
}
.text h2 a{
	font-size: 58px;
	font-weight: 700px;
	color:white;
}
.more{
	width: 100%;
	height: 87px;
	/*border:1px solid red ;*/
}

.rgb{
	width: 110px;
	height: 53px;
	border:2px solid #FFFFFF ;
	text-align: center;
	margin: 0px auto 0px;
}

.rgb a{
	line-height: 50px;
	font-size: 14px;
	color: white;
	font-weight:700;
	display: block;
}
.rgb:hover{
	background-color: #FFFFFF;
	color: #333333;
}
.rgb a:hover{
	background-color: #FFFFFF;
	color: #333333;
}

.b-search{
	width:100%;
	height: 157px;
	/*border:1px solid red ;*/
}
.search{
	width:1200px;
	height: 87px;
	/*border:1px solid red ;*/
	margin: 40px auto;
}
.text-search{
	width:940px;
	height: 100px;
	/*border:1px solid red ;*/
	margin: 0px auto 0px;
}
button{
	width:100px;
	height: 59px;
	/*border:1px solid red ;*/
	float: right;
	position: relative;
	top:-100px;
	left: -183px;
	background-color: #1273e1;
}
.s-tips{
	/*width:200px;
	height: 37px;
	border:1px solid red ;*/
	/*text-align: center;
	line-height: 30px;
	margin: 10px 20px;*/
	float: left;
}
.list-shorlist{
	display: none;
	
}
.t-tips{
	float: left;
	width: 160px;
	height: 170px;
	/*border: 1px solid red;*/
	
}
.inp-1{
	width: 160px;
	height: 160px;
	/*border: 1px solid red;*/
	background-color: white;
	position: absolute;
	z-index: 3;
	display: none;
}
.inp-1 ul li{
	position: relative;
	left: -30px;
	top: -10px;
	line-height: 30px;
	cursor: pointer;
	font-size: 16px;
}
.w-tips{
	float: left;
	width: 260px;
	height: 170px;
/*	border: 1px solid red;*/
}
#j1,#j4{
	position: relative;
	top: -40px;
	float: right;
	display: none;
}
#j2{
	position: relative;
	top: -80px;
	left: 95px;
}
#j3{
	position: relative;
	top: -80px;
	left: 195px;
}
.inp-2{
	width: 260px;
	height: 180px;
	/*border: 1px solid red;*/
	background-color: white;
	position: absolute;
	z-index: 99;
	display: none;
}
.inp-2 ul li{
	position: relative;
	left: -40px;
	top: -15px;
	line-height: 30px;
	cursor: pointer;
	font-size: 16px;
}
.b-search .search .text-search input{
	width: 292px;
	height: 53px;
}
.dl1{
	width: 100px;
	height: 187px;
	border:1px solid white;
	z-index:199;
	color:#222222;
	display: none;
    position: absolute;
    margin-top: 10px;
    background-color: white;
}

.a2{
	width: 150px;
	height: 187px;
	border:1px solid white;
	z-index:99;
	display: none;
	position: absolute;
	color:#222222;
	margin-top: 10px;
	background-color: white;
}
.a3{
	width: 110px;
	height: 137px;
	border:1px solid white;
    display: none;
    position: absolute;
    z-index: 99;
    margin-top: 10px;
    color:#222222;
    background-color: white;
}
.dl1 img{
	position: relative;
	top: -254px;
	left: -30px;
}
.a2 img{
	position: relative;
	top: -219px;
	left: -30px;
}
.a3 img{
	position: relative;
	top: -182px;
	left: -30px;
}
/*.ul2 p{
	background-color: ;
}*/
/*导航*/
.nav{
	width: 100%;
	height: 127px;
	/*border:1px solid red*/
}
.c1{
	width: 1150px;
	height: 127px;
	/*border:1px solid red;*/
	margin: 0px auto 0px;
	overflow: hidden;
	/*padding:0px 30px 0px;*/
}
.d1{
	width: 100px;
	height: 97px;
	/*border:1px solid red;*/
	float: left;
}
.d2{
	width: 160px;
	height: 97px;
	/*border:1px solid red;*/
	/*margin-left: 110px;*/
    text-align: center;
    line-height: 30px;
	float: left;
}
.d2 label{
	font-size: 22px;
	color: #333333;
	font-weight:700;
	display: block;
	margin-top: 15px;
}
.d3{
	width: 100px;
	height: 97px;
	/*border:1px solid red;*/
	float: left;
	text-align: center;
}
.d4{
	width: 160px;
	height: 97px;
	/*border:1px solid red;*/
	/*margin-left: 370px;*/
	float:left;
	text-align: center;
	
}
.d4 label{
	font-size: 22px;
	color: #333333;
	font-weight:700;
	display: block;
	margin-top: 15px;
}
.d5{
	width: 100px;
	height: 97px;
	/*border:1px solid red;*/
	float: left;
	text-align: center;
}
.d6{
	width: 110px;
	height: 97px;
	/*border:1px solid red;*/
	float: left;
	text-align: center;
	}
/*地图美化*/
 .ditu{
 	width: 100%;
 	height: 700px;
 	overflow: hidden;
 	/*border:1px red solid ;*/
 	background: url(haiwai_image/duti-img/ditu-bg.jpg) no-repeat center 0px;
 	background-size:cover ;
 }
 .map1{
 	width: 1100px;
 	height: 700px;
 	/*border:1px red solid ;*/
 	margin: auto;
 	
 }
 .map2{
 	width: 800px;
 	height: 100px;
 	/*border:1px red solid ;*/
 	margin: 20px auto 20px;
 	text-align: center;
 	
 }
 .map2 span{
 	font-size:32px;
 	color: black;
 	font-weight:700;
 }
 .map3{
 	width: 1100px;
 	height: 430px;
 /*	border:1px red solid ;*/
 	margin: 60px auto 20px;
 	position:absolute;
 }
 .x-map{
 	width: 90px;
 	height: 30px;
 /*	border:1px red solid ;*/
 	position: relative;
 	top:-400px;
 	left: 180px;
 	background-color: blue;
 	border-radius: 5px;
 	cursor: pointer;
 	
 }
 .x-map span{
 	color: white;
 	font-size: 18px;
 }
 .xtop{
 	width: 130px;
 	height: 90px;
 /*	border:1px red solid ;*/
 	border-radius:5px ;
 	position: absolute;
 	z-index: 30;
 	top: -80px;
 	left: 220px;
 	display:none;
 	
 }
 .xtop1{
 	width: 130px;
 	height: 60px;
 	/*border:1px red solid ;*/
 	background-color: blue;
 	border-radius:5px ;
 	text-align: center;
 	line-height:60px;
 }
.xtop2{
	width: 130px;
 	height: 30px;
 	/*border:1px red solid ;*/
 	background-color: white;
 	text-align: center;
 	line-height:30px;
}
.xtop2 span{
	color:black;
	font-size: 12px;
}	
/*导航2*/
.mmp1{
	width: 100%;
 	height: 630px;
 /*	border:1px red solid ;*/
}
.font1{
	width: 100%;
 	height: 100px;
 	/*border:1px red solid ;*/
 	text-align: center;
 	margin: 20px auto 20px;
}
.font1 span{
	font-size: 28px;
	color: #000000;
	font-weight:700;
	
}
.m1{
	width: 340px;
 	height: 350px;
 /*	border:1px red solid ;*/
 	float: left;
 	margin-left: 40px;
}
.m2{
	width: 340px;
 	height: 350px;
 /*	border:1px red solid ;*/
 	float: left;
 	margin-left: 40px;
}
.m3{
	width: 340px;
 	height: 350px;
 /*	border:1px red solid ;*/
 	float: left;
 	margin-left: 50px;
}
.font2{
	width:320px;
 	height: 60px;
 /*	border:1px red solid ;*/
 	position: relative;
 	top: -90px;
 	left: 20px;
}
.font2 .fl1{
	font-size: 12px;
	color:white;
	font-weight:700;
	position: absolute;
	float: left;
	bottom: 0;
	cursor: pointer;
}
.font2 .fl2{
	font-size: 12px;
	color: white;
	float: right;
	text-alignlign: right;
	cursor: pointer;
}

.font2 .fl2 label{
	font-size: 20px;
	font-weight: 700;
	color:#ffbd67 ;
    display: block;
    margin-top: 8px;
    text-align:right ;
    cursor: default;
}
.font3{
	width:360px;
 	height: 60px;
 /*	border:1px red solid ;*/
 	position: relative;
 	top: -60px;
 /*	overflow: hidden;*/
}
.font3 .fl3{
	width:360px;
 	height: 30px;
 	/*border:1px red solid ;*/
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 8px;
	/*overflow: hidden;*/
}
.font3 .fl4{
	width:360px;
 	height: 20px;
 /*	border:1px red solid ;*/
}
.font3 .fl4 .fk{
	font-size: 12px;
	color: #999;
	float: left;
}
.font3 .fl4 .fr{
	font-size: 12px;
	color: #262626;
	float: right;
	
}
.font3 .fl4 .fr i{
	background:url(haiwai_image/nav2-img/地标箭头-1.png) no-repeat 164px -290px;
	/*display: inline-block;*/
	position: relative;
	float: left;
/*	z-index:1;*/
}
/*<!--美国置业指南 涉及到轮播-->*/
.l1l{
	width: 100%;
	height:450px;
	/*border: 1px red solid;*/
	position: relative;
	background-color: #CCCCCC;
}
.l1l .font11{
	width: 100%;
	height:100px;
	/*border: 1px red solid;*/
	text-align: center;
	padding-top: 40px;
	font-size: 16px;
}
.l1l .font11 span{
	font-size: 32px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 5px;
	
}
.l1l .font11 p{
	font-size: 14px;
	color: #CCCCCC;
	margin-top: -3px;
}
.cl{
	width: 100%;
	height:300px;
	/*border: 1px red solid;*/
	
}
.cl1{
	width: 1160px;
	height: 240px;
	/*border: 1px red solid;*/
	margin: auto;
	position: relative;
	overflow: hidden;
}

.cl img{
	width: 260px;
	height: 240px;
	float: left;
	position: absolute;
	/*left: 0px;*/
}
.s1{
	left: 10px;
}
.s2{
	left: 310px;
}
.s3{

	left: 610px;
}
.s4{

	left: 910px;
}
.s5{

	left: 1210px;
}
.s6{

	left: 1510px;
}
.s7{
	left: 1810px;
}
.s8{
	left: 2110px;
}
.arrowRight{
    position: absolute;
    width: 30px;
    background:rgba(0,0,0,0.2);
    height: 50px;
    line-height: 50px;
    text-align: center;
    top:90px;
    z-index: 150;
    font-family: "微软雅黑";
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.arrowLeft{
	    position: absolute;
    width: 30px;
    background:rgba(0,0,0,0.2);
    height: 50px;
    line-height: 50px;
    text-align: center;
    top:90px;
    z-index: 150;
    font-family: "微软雅黑";
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  /*  display: none;*/
}
.arrowLeft{left: 1110px;}
.arrowRight{right: 50px;}

.nav-3{
	width: 100%;
	height: 260px;
	/*border: 1px red solid;*/
}
.nav-31,.nav-32,.nav-33,.nav-34{
	width: 260px;
	height: 260px;
	/*border: 1px red solid;*/
	float: left;
	margin-left: 40px;
	text-align: center;
}

.nav-31 img{
	position: relative;
	left: 60px;
}
.nav-31 span{
	font-size: 22px;
	color: #000000;
	font-weight: 700;
	position: relative;
	top: 20px;
	left: -40px;
}
.nav-31 label{
	position: relative;
	top: 40px;
}
.nav-32 img{
	position: relative;
	left: 80px;
}
.nav-32 span{
	font-size: 22px;
	color: #000000;
	font-weight: 700;
	position: relative;
	top: 20px;
	left: -40px;
}
.nav-32 label{
	position: relative;
	top: 40px;
}

.nav-33 img{
	position: relative;
	left: 60px;
}
.nav-33 span{
	font-size: 22px;
	color: #000000;
	font-weight: 700;
	position: relative;
	top: 20px;
	left: -40px;
}
.nav-33 label{
	position: relative;
	top: 40px;
}
.nav-34 img{
	position: relative;
	left: 60px;
}
.nav-34 span{
	font-size: 22px;
	color: #000000;
	font-weight: 700;
	position: relative;
	top: 20px;
	left: -40px;
}
.nav-34 label{
	position: relative;
	top: 40px;
}

/*底部样式*/
.footer1{
	width: 100%;
	height: 500px;
	/*border: 1px red solid;*/
	background-color:#222;
}
.footer-wap{
	width: 1100px;
	height: 450px;
	/*border: 1px red solid;*/
	margin: auto;
}
.footer-header{
	width: 1100px;
	height: 60px;
/*	border: 1px red solid;*/
	line-height: 30px;
	overflow: hidden;
}

.footer-header ul li{
	float: left;
	margin-left: 10px;
	position: relative;
	left: -30px;
	cursor: pointer;
}
.footer-header ul li a{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
}
.footer-header .f2{
	color:#7dcfa0 ;
	float: right;
}
.f-box{
	width: 1100px;
	height: 230px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	/*border: 1px red solid;*/
}
.f3{
	width: 900px;
	height: 270px;
}
.top{
	width: 900px;
	height: 70px;
	line-height: 35px;
}

.f-box .f3 .top span{
	background:#121212;
	color:#888c8e ;
	font-size: 12px;
	padding: 8px 12px;
	margin-right:5px ;
	cursor: pointer;
}
.link-list{
	width: 900px;
	height: 120px;
}
.link-list1{
	width: 900px;
	height: 110px;
	position: absolute;
	display: none;
}

.link-list1 dd{
	float: left;
	position: relative;
	left: -30px;
}
.link-list1 dd a{
	font-size: 12px;
	color:#999999;
	font-weight: 700;
}
.f-img{
	width: 150px;
	height: 150px;
	/*border: 1px red solid;*/
	float: right;
	position: relative;
	top: -240px;
	left: -30px;
}
.bottom{
	width: 1100px;
	height: 150px;
	/*border: 1px red solid;*/
}
.copyright{
	margin-top: 30px;
	font-size: 12px;
	color: #888c8e;
	line-height: 30px;
}
.copyleft{
	width: 500px;
	height: 30px;
	/*border: 1px red solid;*/
}
.copyleft p{
	position:relative;
	top: -32px;
	left: 30px;
	font-size: 12px;
	color: #999999;
}
.red{
	background-color: #888C8E;
}
