@charset "utf-8";
/* CSS Document */
body{
	font-family: "楷体";
}
h3{
	color: blue;
}
a:link{
	color:#FFA500;
}
.red{
	color: red;
}
#blue{
	color: blue;
}
#green{
	color: green;
}

