body {
	background: #FFCFB6;
}

#d1 {
	width: 380px;
	height: 500px;
	border: 1px #F22E00 solid;
	background-color: #FFFFFF;
}

div.class1 {
	width: 380px;
	height: 10%;
	background-color: red;
	font-size: 20px;
	text-indent: 10px;
	color: #fcfcfc;
	line-height: 50px;
}
ul{
	margin:0px;
	padding: 0px;
}
#d1 ul li {
	line-height: px;
	list-style: none ;
	line-height: 30px;
    border-bottom:1px dashed ;
}

a {
	font-size: 17px;
	color: #000000;
	text-decoration: none;
}

#d1 >ul li a{
	background: url(imge/dot_01.gif) no-repeat 0px 2px;
	display: inline-block;
}
#d1 ul li span{
	color: #F4F4F4;
	font-family: 华文彩云;
}
#d1 li div{
	display: none;
	text-align: center;
}
#d1 ul li a:hover div{
	color: #00FFFF;
	display: block;
}
#d1 ul li a:hover{
	background: url(imge/dot_02.gif) no-repeat 0px 2px;
	color: #00FFFF;
}
