font{
	color: black;
	font-size:40px ;
	font-family: "微软雅黑";
	padding-left: 60px;
	
}
.myfont{
	float:right;
	padding-right: 60px;
	font-size: 40px;
	font-weight: bolder;
	color: #696969;
	font-family: "微软雅黑";
}
.mydiv{
	height: 700px;
	width: 1200px;
}
div:first-of-type{
	height: 80px;
}
div:nth-of-type(2){
	height: 270px;
	width: 450px;
	padding-left: 100px;
	float: left;
}
div:nth-of-type(3){
	height: 270px;
	width: 450px;
	float: right;
	padding-right: 100px;
}
div:nth-of-type(4){
	float: left;
	height: 270px;
	width: 450px;
	padding-left: 100px;
}
div:nth-of-type(5){
	height: 270px;
	width: 450px;
	float: right;
	padding-right: 100px;
}
img{
	height:200px;
	width: 450px;
}
span{
	float: left;
	line-height: 30px;
	font-weight: bold;
	font-size:15px ;
	color: dimgrey;
}
