table{
	width:800px ;
}
td xu img{
	width: 150px;
	height: 200px;
}
tiao img{
	width: 300px;
	height: 200px;
}
p{
	font-family: "楷体";
	
}
p span{
	font-family: "楷体";
	color: #0000FF;
}
span{
	font-family:"黑体" ;
	font-size: 35;
	color: #FF0000;
	font-weight: bolder;
}
font{
	color: green;
}
a:link{
			color:  brown;
			font-weight: bold;
			font-size:14px;
		}