<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="database.properties"/>
<settings>
		<!-- 配置缓存  延迟加载 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<!-- 给Stu类起一个别名 -->
		<typeAlias alias="stu" type="m05.d14.opjo.Stu"/>
		<typeAlias alias="gg" type="m05.d14.opjo.Grade"/>
		</typeAliases>
	<environments default="Oracle">
		<environment id="Oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper resource="m05/d14/mapper/StuMapper.xml"/>
	<mapper resource="m05/d14/mapper/GradeMapper.xml"/>
	<!-- <mapper resource="m04/d23/Qbaba/mapper/City_infoMapper.xml"/>
	<mapper resource="m04/d23/Qbaba/mapper/Province_infoMapper.xml"/>
	<mapper resource="m04/d19/Qbaba/mapper/ShangPingMapper.xml"/>
	<mapper resource="m04/d19/Qbaba/mapper/UserMapper.xml"/>
	
		<mapper resource="m04/d12/Qbaba/mapper/NewsMapper.xml" />
		<mapper resource="m04/d12/Qbaba/mapper/ProductMapper.xml"/>
		<mapper resource="m04/d12/Qbaba/mapper/UserMapper.xml"/>
		<mapper resource="m04/d12/Qbaba/mapper/MessageMapper.xml"/>
		<mapper resource="m04/d12/Qbaba/mapper/RevertMapper.xml"/> -->
	</mappers>
</configuration>