div{
width:300px;
height:400px;
border:blue solid 1px;
border-radius:10px;

position:relative;
}
div ul{
background:linear-gradient(to top,white,#99ccff);
  background:-webkit-linear-gradient(to top,white,#99ccff);
margin-top:1px;
}
a{
color:#979caa;
text-decoration:none;
line-height:35px;
}
li{
list-style-type:none;
background-image:url(图片素材/dotBg.gif);
background-position:-8px;
text-indent:10px;

}
a:hover{
color:red;

}
h2{
width:300px;
height:60px;
background-color:#99ccff;
color:white;
line-height:60px;
background-image:url(图片素材/bg.gif);
background-repeat:no-repeat;
background-position:-3px;
text-indent:30px;
margin-top:0px;
margin-bottom:1px;
border-radius:10px 10px 0px 0px;

}
