#d1 {
	width: 320px;
	height: 350px;
	background: url(image/bg.jpg) no-repeat;
	background-size: cover;
	border: 1px #F0F0F0 solid;
}

#d1 ul {
	width: 300px;
	height: 353px;
	padding: 80px 0px 0px 22px;
	list-style: none;
	line-height: 30px;
}

#d1 span {
	color: red;
}

#d1 input {
	/*border: 1px red solid;*/
	border-radius: 4px;
}

#d1 li:last-child {
	text-align: center;
}
