<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m04.d12.Qbaba.impl.RevertDaoImpl">
	<!-- resultType 返回值类型 -->
	<select id="selectRevAll" resultType="m04.d12.Qbaba.entity.Revert">
	SELECT * FROM revert;
	</select>
	<select id="reveListById" parameterType="Integer" resultType="m04.d12.Qbaba.entity.Revert">
	SELECT * FROM revert WHERE mid=#{mid};
	</select>
	<select id="reveByNum"  resultType="Integer">
	SELECT count(1) FROM revert ;
	</select>
	<insert id="insertRev" parameterType="m04.d12.Qbaba.entity.Revert" >
	INSERT INTO revert SET mid=#{mid},rcontent=#{rcontent},rname=#{rname},rdate=#{rdate};
	</insert>
</mapper>

