		td{
			width:150px;
			height: 50px;
			border: 1px blue solid;
		}
		
		table{
			border-collapse: collapse;
			border: 3px red solid ;
		}
		
		.td{
			border-bottom: 3px black solid ;
		}
		
