#d1{
	margin: auto;
	width: 250px;
	height: px;
	border: 1px #6C6C6C solid;
	border-radius: 10px;
	/*background-color: #666666;*/
	background:linear-gradient(to top,#F0F0F0,turquoise);
	
}
#d1 p{
	margin: 5px 0px 20px;
	line-height: 40px;
	background:url(bg.gif) no-repeat 0px 6px;
	text-indent: 40px;
	font-weight: 800;
	font-family: "微软雅黑";
	color: #F0F0F0;
	border-bottom: 1px #F0F0F0 solid;
}
#d1 ul {
	padding-left: 2px;
	list-style-type:none ;
}
#d1 ul li{
	line-height: 30px;
	width: 200px;
	background: url(dotBg.gif) ;
	padding-left:30px ;
	/*margin-left: 30px;*/
}
#d1 ul a{
	text-decoration: none;
}
#d1 a:hover{
	color: red;
}
