img{
	
	border-image-width: 800px;
	height: 400px;
	
}
td img{
	float: left;
	border-image-width:60px;
	height: 40px;
}
table{
	float: left;
	border="0"
}
font{
	font-family: "楷体";
	font-weight: bold;
}
span{
	font-family:"黑体" ;
	color:  #0000FF;
	font-size: 20px;
	font-weight: bolder;
	
}
p{
	
	font-family:"楷体" ;
	font-weight: bolder;
	color:  maroon;
	
}
