body{
	font-family: 楷体;
	
}

h1{
	text-align: center;
	color: red;
	text-shadow: blue 5px 5px 5px;;
}

p{
	text-indent: 2em;
	line-height: 28px;
	background-image: url("line.png");
	background-size: 2%;
}

span{
	font-weight: bold;
	font-size: 28px;
	font-style: oblique;
}


