header{
	font-size: 25px;
}
header img,span{
	vertical-align: middle;
	margin-right: 10px;
}
header div{
	margin-left: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
}
article{
	width: auto;
	height: 455px;
	background-image: url(image/banner.png);
	background-size: cover;
}
#for{
	margin-top: 40px;
	margin-right: 150px;
	width: 300px;
	height: 250px;
	float: right;
	background-color: white;
}
article div{
	margin: 15px;
}
#s1{
	font-size: 18px;
}
#s2{
	float: right;
	font-size: 14px;
}
#s2 img,span{
	vertical-align: middle;
}
form /*input:nth-of-type(1)*/{
	font-size: 14px;
}
td input{
	font-size: 16px;
}
form input:nth-of-type(2){
	width: 270px;
	height: 36px;
	font-size: 16px;
	background-color: #E3393C;
	color: white;
	margin-top: 10px;
}

table input{
	border: none;
	width: 220px;
}
table td{
	border:1px solid #cccccc;
}
table{
	margin-bottom: 10px;
	height: 10px;
}
footer{
	font-size: 12px;
	margin-top: 10px;
}
footer nav{
	text-align: center;
	margin:auto;
	margin-bottom: 10px;
}
footer div{
	text-align: center;
	margin:auto;
}
