.color{
color:red ;
}
h2{
	font-size: 16px;
}
p{
	font-size: 14px;
	font-family: charcoal;
	font-weight: 200;
}
.color~h2{
	color:blue ;
}
span >img{
	width: 887px;
	height: 439px;
} 
