body {
	margin: 0px;
	background-color: #66ccff;
	width: 100%;
}

#d1 ul {
	width: 980px;
	margin: 0px;
	list-style-type: none;
}

#d1 ul li {
	float: left;
}

#d1 a {
	margin-left: 30px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-decoration: none;
}

#d1 a:link {
	color: #000000;
}

#d1 a:hover {
	width: 40px;
	height: 20px;
	border: 1px solid;
	background-color: #FFFFFF;
	color: #FF0000;
}

#d1 a:active {
	color: royalblue;
}

#d1 a:visited {
	color: coral;
}

#d2 h1 {
	font-size: 60px;
	font-family: "微软雅黑";
	color: red;
	width: 100%;
	margin: 0px auto;
	padding: 10px;
	background-color: cornflowerblue;
	text-align: center;
	text-shadow: #FFFFFF 5px -10px 5px;
}

section {
	background-image: url(3.jpg);
}
h2{
	font-size:30px ;
	font-family:方正舒体 ;
}
p{
	line-height: 28px;
	text-indent: 2em;
}
.class1{
	color: red;
	font-weight: bold;
}
.class2{
	font-weight:bold ;
	color: red;
	font-style: oblique;
}
