<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pinhong1</display-name>
  <servlet>
    <description></description>
    <display-name>ServletC</display-name>
    <servlet-name>ServletC</servlet-name>
    <servlet-class>com.controller.ServletC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletC</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseServlet</display-name>
    <servlet-name>UseServlet</servlet-name>
    <servlet-class>com.controller.UseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseServlet</servlet-name>
    <url-pattern>/uservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerUseServlet</display-name>
    <servlet-name>ManagerUseServlet</servlet-name>
    <servlet-class>com.controller.ManagerUseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUseServlet</servlet-name>
    <url-pattern>/muservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>init</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>qqq</display-name>
    <servlet-name>qqq</servlet-name>
    <servlet-class>com.service.qqq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qqq</servlet-name>
    <url-pattern>/qqq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/proservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FenyeServlet</display-name>
    <servlet-name>FenyeServlet</servlet-name>
    <servlet-class>com.controller.FenyeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenyeServlet</servlet-name>
    <url-pattern>/ftservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PinFilter</display-name>
    <filter-name>PinFilter</filter-name>
    <filter-class>com.util.PinFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PinFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MessServlet</display-name>
    <servlet-name>MessServlet</servlet-name>
    <servlet-class>com.controller.MessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessServlet</servlet-name>
    <url-pattern>/MeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RevertServlet</display-name>
    <servlet-name>RevertServlet</servlet-name>
    <servlet-class>com.controller.RevertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevertServlet</servlet-name>
    <url-pattern>/ReServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessServlet1</display-name>
    <servlet-name>MessServlet1</servlet-name>
    <servlet-class>com.controller.MessServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessServlet1</servlet-name>
    <url-pattern>/MServlet1</url-pattern>
  </servlet-mapping>
</web-app>