h2 {
	font-size: 16px;
	color: red;
}
.color{
	color: green;
}
.td{
	font-size: 14px;
}
span >img{
	width: 300px;
	height: 200px;
} 
p{
	color: blue;
}
li{
	font-size: 14px;
	color:#640000
}
