<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mybatis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>m04.d12.Qbaba.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>m04.d12.Qbaba.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReadyServlet</display-name>
    <servlet-name>ReadyServlet</servlet-name>
    <servlet-class>m04.d12.Qbaba.servlet.ReadyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadyServlet</servlet-name>
    <url-pattern>/ready</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>m04.d12.Qbaba.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Logins2</servlet-name>
    <servlet-class>m04.d12.Qbaba.servlet.Login2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logins2</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_InitServlet</display-name>
    <servlet-name>S_InitServlet</servlet-name>
    <servlet-class>m04.d19.Qbaba.controller.S_InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_InitServlet</servlet-name>
    <url-pattern>/S_Init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_LoginServlet</display-name>
    <servlet-name>S_LoginServlet</servlet-name>
    <servlet-class>m04.d19.Qbaba.controller.S_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_LoginServlet</servlet-name>
    <url-pattern>/S_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>m04.d19.Qbaba.controller.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>m04.d19.Qbaba.controller.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/Ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>m04.d23.Qbaba.controller.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/City</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SP_InitServlet</display-name>
    <servlet-name>SP_InitServlet</servlet-name>
    <servlet-class>m04.d23.Qbaba.controller.SP_InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SP_InitServlet</servlet-name>
    <url-pattern>/SP_init</url-pattern>
  </servlet-mapping>
</web-app>