	      body{
	      	margin: 0px;
	      	padding: 0px;
	      }
	      
	       #mydiv{
	       width: 400px;
	       height: 500px;
	       border-width:1px;
	       border-color: blue;
	       border-style: solid;
	       
	       }
	       
	       div.class1{
	       	width: 400px;
	       	height:60px ;
	       	background-color: red;
	       	font-size: 24px;
	       	line-height: 60px;
	       	text-indent: 10px;
	       	
	       }
	       #mydiv h3{
	       	margin: 0px; 
	       }
	       
	       #mydiv ul{
	       	list-style-type: none;
	       	font-size: 18px;
	       	line-height: 30px;
	       	margin: 0px;
	       	padding-left: 12px;
	       }
	       
	       #mydiv ul li{
	       	
	       }
	       #mydiv>ul li a{
	       	background: url(../liupeng/image/dot_01.gif) no-repeat -5px 2px;
	        display: inline-block;
	       }
	       
	       #mydiv ul li a:hover{
			background: url(../liupeng/image/dot_02.gif) no-repeat -2px 2px;
			color: #00FFFF;
			}

	       #mydiv li span{
	       	color: white;
	       	font-family: 华文彩云;
	       }
	       
	       
	       
	       #mydiv ul li div{
			      	display: none;
			  		text-align: center;
	  		}
	     	#mydiv ul li a:hover div{
		  	 		display: block;
	     	}
