.box{
	background-image: url(img/bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	box-sizing: border-box;
	width: 314px;
	height: 355px;
}
form{
	padding-top: 100px;
	padding-left: 30px;
}
table tr td{
	padding-bottom: 10px;
}
table .ph{
	padding-left: 50px;
}
#red{
	color: red;
}
span{
	color:white;
}
